@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Macondo);

body{
  font-family: "Times New Roman", serif;
}

a{
  text-decoration: none;
  color: white;
  margin: 0 24px;
}

.header {
  font-family: "Macondo";
  background-color: #192937;
  color: white;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

#logo {
  width: auto;
  height: 38px;
  border: rgb(56, 56, 179) solid 3px;
  border-radius: 48px;
  margin: 10px 24px;
  transition: transform 1.5s ease-in-out;
}

#logo:hover {
  transform: rotate(360deg);
}

.links {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sec1 {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  
}